@font-face {
  font-family: Bebas_Neue;
  src: url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Lato_Regular;
  src: url("./fonts/Lato/Lato-Regular.ttf");
}
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
main {
  background-color: #EDEDED;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  padding: 16px 0px;
}
li a:hover {
  color: #FEBB0C;
}

div a {
  text-decoration: none;
}
div a:hover {
  color: #FEBB0C;
}

body h1 {
  font-size: 5.5rem;
  font-family: Bebas_Neue;
}
@media screen and (max-width: 1400px) {
  body h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  body h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 395px) {
  body h1 {
    font-size: 3rem;
  }
}
body h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
@media screen and (max-width: 1400px) {
  body h2 {
    font-size: 2rem;
  }
}

.nav_content__logo {
  margin: auto;
}
.nav_content .hamburger, .nav_content__account, .nav_content__account_button--close, .nav_content__navlinks--close {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav_content .hamburger, .nav_content__account, .nav_content__account_button--close, .nav_content__navlinks--close {
    display: block;
    color: #007A82;
    font-size: 2rem;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  .nav_content__navlinks {
    background-color: rgba(14, 13, 13, 0.8);
    height: 170px;
    width: 170px;
    display: none;
    position: absolute;
    top: 2.8rem;
    left: 0.8rem;
    bottom: "";
    right: "";
    flex-direction: column;
    z-index: 2;
  }
}
.nav_content__navlinks .links {
  padding: 1rem 0px;
}
@media screen and (max-width: 768px) {
  .nav_content__navlinks .links {
    padding: 8px 0;
  }
}
.nav_content__navlinks .links a {
  color: #666666;
  font-family: Lato_Regular;
}
@media screen and (max-width: 768px) {
  .nav_content__navlinks .links a {
    color: #FFFFFF;
  }
}
.nav_content__navlinks .links .active_button {
  color: #FEBB0C;
}
@media screen and (max-width: 768px) {
  .nav_content__navlinks--close {
    display: block;
    font-size: 1.4rem;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: "";
    bottom: "";
    right: 1rem;
  }
}
.nav_content__account_button .signup {
  padding: 0.8rem 1.4rem !important;
  background-color: #007A82 !important;
  border-radius: 1.4rem !important;
  text-decoration: none !important;
  color: #FFFFFF;
  font-family: Lato_Regular;
  margin-left: 0.8rem;
}
.nav_content__account_button .signin {
  color: #666666;
  font-family: Lato_Regular;
}
@media screen and (max-width: 768px) {
  .nav_content__account_button {
    width: 254px;
    height: 150px;
    background-color: rgba(14, 13, 13, 0.8);
    flex-direction: column;
    position: absolute;
    top: 3.2rem;
    left: "";
    bottom: "";
    right: 0px;
    z-index: 222;
    display: none;
  }
  .nav_content__account_button .button {
    display: block;
    background-color: #007A82;
    border-radius: 1.4rem;
    color: #FFFFFF;
    float: left;
    margin: 0.3rem;
    padding: 0.75rem 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .nav_content__account_button--close {
    padding: 0.1rem 1rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: #3D3D3D;
    border-radius: 1.4rem;
    margin: 1rem 0.8rem;
  }
}

.banner__content--bcs {
  color: #007A82;
  font-family: Lato_Regular;
  position: relative;
  top: 0;
  left: 3.9rem;
  bottom: 0;
  right: 0;
  max-width: 160px;
}
.banner__content--bcs:before {
  content: "";
  display: block;
  height: 0.3rem;
  width: 3.5rem;
  position: relative;
  top: 0.9rem;
  left: -3.8rem;
  bottom: 0;
  right: 0;
  background-color: #FEBB0C;
}
.banner__content--subtext {
  margin: 0.8rem 0;
  color: #666666;
  font-family: Lato_Regular;
}
.banner__content--button {
  padding: 1rem 0;
}
.banner__content--button a {
  color: #FFFFFF;
  font-family: Lato_Regular;
  padding: 15px 22px !important;
  background-color: #007A82 !important;
  border-radius: 25px !important;
  text-decoration: none !important;
}
.banner__content--bullet_points ul {
  flex-wrap: wrap;
  max-width: 90%;
}
@media screen and (max-width: 992px) {
  .banner__content--bullet_points ul {
    max-width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .banner__content--bullet_points ul {
    max-width: 95%;
  }
}
@media screen and (max-width: 395px) {
  .banner__content--bullet_points ul {
    max-width: 100%;
  }
}
.banner__content--bullet_points ul li {
  width: 33%;
  color: #666666;
  font-family: Lato_Regular;
}
@media screen and (max-width: 395px) {
  .banner__content--bullet_points ul li {
    font-size: 0.8rem;
  }
}
.banner__content--bullet_points ul li:before {
  content: "";
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  position: relative;
  top: 1rem;
  left: -55px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: #FEBB0C;
}
@media screen and (max-width: 1200px) {
  .banner__content--bullet_points ul li:before {
    left: -1.5rem;
    width: 7px;
    height: 7px;
  }
}
@media screen and (max-width: 576px) {
  .banner__content--bullet_points ul li:before {
    left: -2rem;
    top: 16px;
  }
}
@media screen and (max-width: 395px) {
  .banner__content--bullet_points ul li:before {
    left: -1rem;
    top: 15px;
  }
}
@media screen and (max-width: 250px) {
  .banner__content--bullet_points ul li:before {
    top: 9px;
  }
}
.banner__content--bullet_points ul li:nth-child(1), .banner__content--bullet_points ul li:nth-child(4) {
  position: relative;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
}
.banner__content--bullet_points ul li:nth-child(1):before, .banner__content--bullet_points ul li:nth-child(4):before {
  width: 0px;
  height: 0px;
}
@media screen and (max-width: 576px) {
  .banner__content--bullet_points ul li:nth-child(1), .banner__content--bullet_points ul li:nth-child(4) {
    position: relative;
    top: 5px;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.banner__content--img img {
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  top: "";
  left: "";
  bottom: 40px;
  right: "";
}
@media screen and (max-width: 1200px) {
  .footer {
    bottom: 10px;
  }
}
.footer_feature {
  max-width: 1100px;
}
@media screen and (max-width: 1400px) {
  .footer_feature {
    max-width: 950px;
  }
}
.footer_feature__box {
  padding: 0 20px;
}
.footer_feature__box--wrapper {
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #FFFFFF;
}
.footer_feature__box--wrapper h2 {
  color: #007A82;
  font-family: Bebas_Neue;
}
.footer_feature__box--wrapper h2 span {
  display: block;
}
.footer_feature__box--wrapper p {
  color: #666666;
  font-family: Lato_Regular;
}
.footer_feature__box--wrapper:hover {
  background-color: #007A82;
}
.footer_feature__box--wrapper:hover h2 {
  color: #FEBB0C;
}
.footer_feature__box--wrapper:hover p {
  color: #FFFFFF;
}
.footer_feature__box--wrapper:after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #FEBB0C;
  z-index: 22;
}