@use "./../importer" as *;
@use "./../base/mixin" as *;
.banner__content--bcs {
    @include sub-texts($secondary-color, Lato_Regular);
    @include content-position(relative, 0, 60px, 0, 0);
    max-width: 160px;
    &:before {
        content: "";
        @include pseudo-elements(block, 4px, 50px);
        @include content-position(relative, 14px, -58px, 0, 0);
        background-color: $primary-color;
    }
}
.banner__content--subtext {
    margin: 10px 0;
    @include sub-texts($gray-color, Lato_Regular);
}
.banner__content--button {
    padding: 15px 0;
    a {
        @include sub-texts($light-color, Lato_Regular);
        @include button($secondary-color, 22px, 15px, 25px)
    }
}

.banner__content--bullet_points {
    ul {
        @include content-position(relative, 0, -30px, 0, 0);
        flex-wrap: wrap;
        list-style: none;
        li {
            width: 33%;
            @include sub-texts($gray-color, Lato_Regular);
            &:before {
                content: "";
                @include pseudo-elements(block, 10px, 10px);
                @include content-position(relative, 17px, -55px, 0, 0);
                border-radius: 50%;
                background-color: $primary-color;
            }
        }
        li:nth-child(1),
        li:nth-child(4) {
            @include content-position(relative, 10px, 0, 0, 0);
        }
        li:nth-child(1)::before,
        li:nth-child(4)::before {
            width: 0px;
            height: 0px;
        }
    }
}
@media screen and (max-width:992px) {
    .banner__content--bullet_points {
        ul {
            li {
                &::before {
                    left: -15px;
                    width: 7px;
                    height: 7px;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .banner__content--bullet_points {
        ul {
            li {
                font-size: 12px;
                &::before {
                    left: -9px;
                    top: 12px;
                    width: 5px;
                    height: 5px;
                }
            }
            li:nth-child(1),
            li:nth-child(4) {
                @include content-position(relative, 5px, 0, 0, 0);
            }
            li:nth-child(1)::before,
            li:nth-child(4)::before {
                width: 0px;
                height: 0px;
            }
        }
    }

}