@import "./../base/variables";
@import "./../base/typography";

.nav_content__logo{
  margin: auto;
}
.hamburger, .accountOptions,.closeButton, .close{
    display: none;
  }
.links {
  padding: 12px 20px;
        a{
            color: $gray-color;
            font-family: Lato_Regular;
            text-decoration: none;

        }
}
a.active_button{
    color: $primary-color;
}
.nav_content__account_button{
    .signup{
        padding: 12px 20px;
        background-color: $secondary-color;
        color: $light-color;
        border-radius: 20px;
        margin-left: 10px;
        
    }
    .signin{
        color: $gray-color;

        
    }
    a{
      text-decoration: none;
      font-family: Lato_Regular;
    }
}

@media screen and (max-width:768px) {
  .nav_content__navlinks{
    background-color:rgba(14, 13, 13, 0.8);
    height: 170px;
    width: 170px;
    position: absolute;
    left: 10px;
    top: 40px;
    flex-direction: column;
    z-index: 2;
    display:none;
    li{
      padding: 8px 0 !important;
      a{
        color: $light-color !important;
      }
    }
  } 
    
      .close{
        display: block;
        font-size: 20px;
        color: $light-color;
        position: absolute;
        top:0;
        right: 15px;
      }
      .nav_content__account_button .button{
        display: block;
        background-color: $secondary-color;
        border-radius: 20px;
        color: $light-color;
        float: left;
        margin: 5px;
        padding: 9px 26px;
      }
      .nav_content__account_button{
        width: 254px;
        height: 150px;
        background-color: rgba(14, 13, 13, 0.8);
        flex-direction: column;
        position: absolute;
        top: 54px;
        right: 109px;
      }
      
      .hamburger, .accountOptions,.closeButton{
        display: block;
        color: $secondary-color;
        font-size: 30px;
        padding: 12px 0;
      }
      .closeButton{
        padding: 3px 17px;
        font-size: 20px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        margin: 16px 10px;
      }
      .nav_content__account_button{
        display: none!important;
      }
      
}