@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: $primary-color !important;
}
header, main{
    background-color: $bg-color;
}