@use "./../importer" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav, main {
    background-color: $bg-color;
}
li {
    list-style: none;
    a{
        text-decoration: none;
        &:hover {
            color: $primary-color;
        }
    }
}
div{
    a{text-decoration: none;}
} 
img{
    height: auto;
    width: 100%;
}
body {
    h1{
        font-size: $heading-size;
        font-family: Bebas_Neue;
        @media screen and (max-width:576px) {font-size: $subheading-size;}
    }
    h2{
        font-family: Bebas_Neue;
    }
}