@use "./../importer" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    &:hover {
        color: $primary-color !important;
    }
}
header, main {
    background-color: $bg-color;
}
img{
    height: auto;
    width: 100%;
}
h1{
    font-size: $heading-size !important;
    font-family: Bebas_Neue !important;
}
@media screen and (max-width:576px) {
    h1{
        font-size: $subheading-size !important;
        font-family: Bebas_Neue !important;
    }
}